.topbar {
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: flex;
}

.topbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-align, .right-align {
    width: 25%;
}
.center-align {
    width: 50%;
}